header {
    display: flex;
    flex-direction: column;
    padding: 3em;
    padding-bottom: 0;
    background-color: var(--nk-secondary);
    position: relative;
}

.logo p {
    font-weight: 800;
    font-size: 11vw;
    margin-top: 2vw;
    margin-bottom: 0;
    color: var(--nk-light);
}