<section class="contactForm">
    <h1>Jetzt kontaktieren.</h1>
    <p>Du hast Interesse mich noch besser kennenzulernen oder hast du eine Frage? <br> Melde dich bei mir!</p>
    <div class="contactContent">
        <form action="">
            <label for="first-name">Vorname</label>
            <input type="text" name="first-name" id="first-name" placeholder="Vorname" required>
            <label for="email">E-Mail</label>
            <input type="email" name="email" id="email" placeholder="E-Mail" required>
            <label for="message">Nachricht</label>
            <textarea name="message" id="message" placeholder="Sende mir eine Nachricht" maxlength="1000"></textarea>
            <button>Submit</button>
        </form>
        <img src="assets/images/Portrait_Nando.jpeg" alt="">
    </div>
</section>
