nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--nk-secondary);
    max-width: 100%;
    padding: 3em;
}

ul {
    display: flex;
    gap: 3em;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-start;
}

li {
    color: var(--nk-light);
    cursor: pointer;
    text-align: center;
}

li:hover {
    color: var(--nk-accent);
}

li.active {
    color: var(--nk-accent);
}
