@import 'lightgallery/scss/lightgallery.scss';

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap size here */
    justify-content: flex-start; /* Center the gallery */
    z-index: 1;
  }
  
  .gallery-container .gallery-item {
    flex: 1 1 calc(33.333% - 10px); /* 3 items per row, adjust width */
    max-width: calc(33.333% - 10px);
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
    }
  }
  
  .gallery-container .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; /* Optional: rounded corners */
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .gallery-container .gallery-item {
      flex: 1 1 calc(50% - 16px); /* 2 items per row on tablets */
      max-width: calc(50% - 16px);
    }
  }
  
  @media (max-width: 480px) {
    .gallery-container .gallery-item {
      flex: 1 1 100%; /* 1 item per row on small screens */
      max-width: 100%;
    }
  }
  