<section class="introSection">
    <div class="intro">
        <img src="assets/images/Portrait_Nando.jpeg" alt="Portrait Nando" class="introImage">
        <div class="introText">
            <h1>Hi!</h1>
            <p>
                Mein Name ist Nando, 
                ausgebildeter Mediamatiker EFZ.
                Ich bin aber noch viel mehr als das.
                
                Lerne mich besser kennen.</p>

                <button routerLink="/über-mich">Über mich</button>
        </div>
    </div>
</section>